<a href="https://colab.research.google.com/github/niqaqoi/niqaqoi/blob/main/%D0%98%D1%81%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%BD%D0%B0%D0%B4%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D0%B8_%D0%B7%D0%B0%D0%B5%D0%BC%D1%89%D0%B8%D0%BA%D0%BE%D0%B2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Проектная работа "Исследование надежности заемщиков"**

**Описание проекта**

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Описание данных**

- children — количество детей в семье

- days_employed — общий трудовой стаж в днях

- dob_years — возраст клиента в годах

- education — уровень образования клиента

- education_id — идентификатор уровня образования

- family_status — семейное положение

- family_status_id — идентификатор семейного положения

- gender — пол клиента

- income_type — тип занятости

- debt — имел ли задолженность по возврату кредитов

- total_income — ежемесячный доход

- purpose — цель получения кредита

##**1. Откройте таблицу и изучите общую информацию о данных**

***Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную data. Путь к файлу:***

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

***Задание 2. Выведите первые 20 строчек датафрейма data на экран.***

In [ ]:
def categorize_income(row):
  total_income = row['total_income']
  if total_income >= 0 and total_income <= 30000:
    return 'E'
  if total_income >= 30001 and total_income <= 50000:
    return 'D'
  if total_income >= 50001 and total_income <= 200000:
    return 'C'
  if total_income >= 200001 and total_income <= 1000000:
    return 'B'
  return 'A'

data['total_income_category'] = data.apply(categorize_income, axis=1)

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,B
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,C
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,C
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,B
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,C
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья,B
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем,B
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование,C
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы,C
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи,C
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости,C
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости,C
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу,A
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля,C
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости,C
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости,C
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость,B
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости,C
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля,C
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля,B

***Задание 3. Выведите основную информацию о датафрейме с помощью метода info().***

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21525 non-null  int64
 1   days_employed          19351 non-null  float64
 2   dob_years              21525 non-null  int64
 3   education              21525 non-null  object
 4   education_id           21525 non-null  int64
 5   family_status          21525 non-null  object
 6   family_status_id       21525 non-null  int64
 7   gender                 21525 non-null  object
 8   income_type            21525 non-null  object
 9   debt                   21525 non-null  int64
 10  total_income           19351 non-null  float64
 11  purpose                21525 non-null  object
 12  total_income_category  21525 non-null  object
dtypes: float64(2), int64(5), object(6)
memory usage: 2.1+ MB

##**2. Предобработка данных**

###**2.1 Удаление пропусков**

***Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.***

In [ ]:
data.isna().sum()

children                    0
days_employed            2174
dob_years                   0
education                   0
education_id                0
family_status               0
family_status_id            0
gender                      0
income_type                 0
debt                        0
total_income             2174
purpose                     0
total_income_category       0
dtype: int64

***Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости сотрудник пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.***

In [ ]:
for d in data['income_type'].unique():
  data.loc[(data['income_type'] == d) & (data['total_income'].isna()), 'total_income'] = \
  data.loc[data['income_type'] == d, 'total_income'].median()

In [ ]:
print(data['total_income'].isna().sum())

0

###**2.2 Обработка аномальных значений**

***Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце d/`days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода abs().***

In [ ]:
data['days_employed'] = data['days_employed'].abs()

***Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.***

In [ ]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

***Задание 8. Выведите перечень уникальных значений столбца `children`***

In [ ]:
print(data['children'].unique())

[ 1  0  3  2 -1  4 20  5]

***Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.***

In [ ]:
data = data.loc[(data['children'] != -1) & (data['children'] != 20)]

***Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.***

In [ ]:
print(data['children'].unique())

[1 0 3 2 4 5]

###**2.3 Удаление пропусков (продолжение)**

***Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.***

In [ ]:
for d in data['income_type'].unique():
  data.loc[(data['income_type'] == d) & (data['days_employed'].isna()), 'days_employed'] = \
  data.loc[data['income_type'] == d, 'days_employed'].median()

***Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.***

In [ ]:
data['days_employed'].isna().sum()

0

###**2.4 Изменение типов данных**

***Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`***

In [ ]:
data['total_income'] = data['total_income'].astype('int')

###**2.5 Обработка дубликатов**

***Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.***

In [ ]:
data['education'] = data['education'].str.lower()

***Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.***

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

###**2.6 Категоризация данных**

***Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:***

0–30000 — 'E';

30001–50000 — 'D';

50001–200000 — 'C';

200001–1000000 — 'B';

1000001 и выше — 'A'.

Например, кредитополучателю с доходом 25000 нужно назначить категорию 'E', а клиенту, получающему 235000, — 'B'. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.

In [ ]:
def categorize_income(row):
    total_income = row['total_income']
    if total_income >= 0 and total_income <= 30000:
        return 'E'
    if total_income >= 30001 and total_income <= 50000:
        return 'D'
    if total_income >= 50001 and total_income <= 200000:
        return 'C'
    if total_income >= 200001 and total_income <= 1000000:
        return 'B'
    return 'A'

In [ ]:
data['total_income_category'] = data.apply(categorize_income, axis=1)

***Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.***

In [ ]:
print(data['purpose'].unique())

['покупка жилья' 'приобретение автомобиля' 'дополнительное образование'
 'сыграть свадьбу' 'операции с жильем' 'образование'
 'на проведение свадьбы' 'покупка жилья для семьи' 'покупка недвижимости'
 'покупка коммерческой недвижимости' 'покупка жилой недвижимости'
 'строительство собственной недвижимости' 'недвижимость'
 'строительство недвижимости' 'на покупку подержанного автомобиля'
 'на покупку своего автомобиля' 'операции с коммерческой недвижимостью'
 'строительство жилой недвижимости' 'жилье'
 'операции со своей недвижимостью' 'автомобили' 'заняться образованием'
 'сделка с подержанным автомобилем' 'получение образования' 'автомобиль'
 'свадьба' 'получение дополнительного образования' 'покупка своего жилья'
 'операции с недвижимостью' 'получение высшего образования'
 'свой автомобиль' 'сделка с автомобилем' 'профильное образование'
 'высшее образование' 'покупка жилья для сдачи' 'на покупку автомобиля'
 'ремонт жилью' 'заняться высшим образованием']

***Задание 18. Создайте функцию, которая на основании данных из столбца purpose сформирует новый столбец `purpose_category`, в который войдут следующие категории:***


'операции с автомобилем',

'операции с недвижимостью',

'проведение свадьбы',

'получение образования'.

***Например, если в столбце purpose находится подстрока 'на покупку автомобиля', то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.***

***Используйте собственную функцию с именем categorize_purpose() и метод apply(). Изучите данные в столбце purpose и определите, какие подстроки помогут вам правильно определить категорию.***

In [ ]:
def categorize_purpose(row):
    purpose = row['purpose']
    real_estate = 'жиль'
    real_estate_two = 'недвиж'
    car = 'автомоб'
    wedding = 'свадьб'
    education = 'образов'
    try:
        if real_estate in purpose or real_estate_two in purpose:
            return 'операции с недвижимостью'
        elif car in purpose:
            return 'операции с автомобилем'
        elif wedding in purpose:
            return 'проведение свадьбы'
        elif education in purpose:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data.apply(categorize_purpose, axis=1)

In [ ]:
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

###**2.7 Шаг 3. Исследуйте данные и ответьте на вопросы**

####**2.7.1 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?**

Для того, чтобы определить зависимость между количеством детей у заемщиков и возвратом кредита в срок, необходимо сравнить долю "возвращаемости" займов у клентов с детьми с аналогичной долей у бездетных клиентов.

In [ ]:
data_pivot = data.pivot_table(index='children', columns='debt', values='purpose', aggfunc='count')
data_pivot

debt            0       1
children
0         13028.0  1063.0
1          4364.0   444.0
2          1858.0   194.0
3           303.0    27.0
4            37.0     4.0
5             9.0     NaN

In [ ]:
data_pivot = data_pivot.fillna(value=0.0)

In [ ]:
data_pivot

debt            0       1
children
0         13028.0  1063.0
1          4364.0   444.0
2          1858.0   194.0
3           303.0    27.0
4            37.0     4.0
5             9.0     0.0

In [ ]:
data_pivot = data_pivot.astype('int')

In [ ]:
data_pivot

debt          0     1
children
0         13028  1063
1          4364   444
2          1858   194
3           303    27
4            37     4
5             9     0

In [ ]:
data_pivot['total_borrowers'] = data_pivot[1] + data_pivot[0]

In [ ]:
data_pivot['conversion_is_debt'] = data_pivot[1] / data_pivot['total_borrowers']

In [ ]:
data_pivot.sort_values('conversion_is_debt', ascending=False)

debt          0     1  total_borrowers  conversion_is_debt
children
4            37     4               41            0.097561
2          1858   194             2052            0.094542
1          4364   444             4808            0.092346
3           303    27              330            0.081818
0         13028  1063            14091            0.075438
5             9     0                9            0.000000

In [ ]:
data_pivot['conversion_no_debt'] = data_pivot[0] / data_pivot['total_borrowers']
data_pivot

debt          0     1  total_borrowers  conversion_is_debt  conversion_no_debt
children
0         13028  1063            14091            0.075438            0.924562
1          4364   444             4808            0.092346            0.907654
2          1858   194             2052            0.094542            0.905458
3           303    27              330            0.081818            0.918182
4            37     4               41            0.097561            0.902439
5             9     0                9            0.000000            1.000000

In [ ]:
data_pivot.style.format(
    {'conversion_is_debt': '{:.0%}',
     'conversion_no_debt': '{:.0%}'},
)

####**2.7.2  3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?**